<div class="container" style="margin-top: -250px">
  <div class="row">
    <div class="col-md-4 col-md-push-2 col-sm-6 col-xs-12">
      <div class="panel animated bounceInLeft" style="border-radius: 0px; border: none; background-color: inherit">
        <div class="panel-body">  
          <%= bootstrap_form_for(Contact.new) do |f| %>
          	<div class="row">
              <div class="col-md-6">
        	      <%= f.text_field :name, placeholder: "Enter Full Name", hide_label: true, required: true %>
              </div>
              <div class="col-md-6">
                <%= f.email_field :email, placeholder: "Enter Email", hide_label: true, required: true %>
              </div>                
            </div><br> 
            <div class="row">
              <div class="col-md-12"> 
                <%= f.text_area :message, placeholder: "Enter Message Here", rows: "5", hide_label: true, required: true %>
              </div>  
            </div><br> 
            <div class="row">
              <div class="col-md-12">             
                <%= f.submit "Send Message" %>
              </div>  
            </div>              
          <% end %>  
        </div>  
      </div>
    </div>
  </div>
</div>      

