
<div class="modal font2" id="mymodal1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">SportsApp</h2>
      </div>
      <div class="modal-body">
        <h5 style="font-weight: bold"><a href="#">App Platform Dependent Sharing App</a><br> 
        Inspired by a start up company from Santa Monica that provides a sports meeting service. IOS and Android users share a link with their friends for sports events and through my web app they are being transferred according to their device O.S using the Browser GEM to either a page that offers to download the compatible App online or in case of viewing through a computer, transferred to a web designed page that generates the shared event for more details. The app is currently deployed using Heroku. The app utilizes the HTTPParty GEM and header Authentication to extract user and event stored data from the company’s RESTful JSON API.</h5>
        <h5 style="font-weight: bold"><a href="http://wearecatchapp.herokuapp.com">Full Functionality Web App</a><br> 
      Inspired by a start up company from Santa Monica. A full Rails 5 web app. The app includes several features like: Authentication using Devise gem, modifying user profiles, adding preferred sports activities, creating, commenting and liking events, full friendship mechanism and an ActiveAdmin to handle administrator control. The app uses AWS S3 bucket to store uploaded photos and is deployed using Heroku. The app utilizes geocoder and Gmaps4rails GEMs to present events on a map.</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="font-size: 150%; padding: 6px 50px">Close</button>
        <a href="http://wearecatchapp.herokuapp.com", class="btn btn-primary" style="font-size: 150%; padding: 6px 50px" >View App</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal font2" id="mymodal2">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Social Network</h2>
      </div>
      <div class="modal-body">
        <h4>Connect with friends, view profiles, post and share your thoughts!</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="font-size: 150%; padding: 6px 30px">Close</button>
        <a href="http://socialnet1.herokuapp.com/", class="btn btn-primary" style="font-size: 150%; padding: 6px 30px">View Social Network</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal font2" id="mymodal3">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">CarList</h2>
      </div>
      <div class="modal-body">
        <h4>View cars, compare specs and search our inventory!</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="font-size: 150%; padding: 6px 30px">Close</button>
        <a href="http://carlist.herokuapp.com/", class="btn btn-primary" style="font-size: 150%; padding: 6px 30px">View CarList</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal font2" id="mymodal4">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">DMViz</h2>
      </div>
      <div class="modal-body">
        <h4>Check Your Knowledge of the CA traffic law with this interactive React.JS quiz</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="font-size: 150%; padding: 6px 30px">Close</button>
        <a href="http://dmv-quiz.herokuapp.com/", class="btn btn-primary" style="font-size: 150%; padding: 6px 30px">View DMViz</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div class="two" style="position: absolute; padding-top: 20px; min-height: 60vw; background-size:cover; width: 100%; right: 0; left: 0"> 
  <div class="container" id="portfolio">
    <div class="row hidden-xs">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 10px; margin-bottom: 50px">
        <h1 style="font-size: 700%; font-weight: bold;" class="font-col-light">Portfolio</h1>
        <p align="center"><span class="hr3"></span></p>
      </div>
    </div>
    <div class="row hidden-lg hidden-md hidden-sm">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 60px; margin-bottom: 50px">
        <h1 style="font-size: 700%; font-weight: bold;" class="font-col-light">Portfolio</h1>
        <p align="center"><span class="hr3"></span></p>
      </div>
    </div>      
    <div class="row">
      <div class="col-md-2 col-sm-6 col-xs-12" style="margin-bottom: 60px">    
        <div id="cube-buttons">
          <button class="btn1" style="font-size: 200%">Sports-Meet-App</button> 
          <button class="btn1" style="font-size: 200%">SocialNet</button> 
          <button class="btn1" style="font-size: 200%">CarList</button> 
          <button class="btn1" style="font-size: 200%">DMViz</button>
          <button class="btn1" style="font-size: 200%">Top</button>   
        </div>
      </div>
      <div class="col-md-10 col-md-pull-1">      
        <div class="cube-container" id="demo-cube">
          <div class="cube toFront">      
            <div class="face top" style="background-color: white; opacity: 0.8">
            </div>
            <div class="face front" style="background-color: white; opacity: 0.8">
              <h3 style="margin-top: 10px; font-size: 200%" class="font">Sports Meet-App</h3>
              <div class="row">
                <div class="col-md-11 col-xs-11 col-sm-6 text-center nopadding" style="margin-left: 17px; margin-top: 10%">
                  <div data-toggle="modal" data-target="#mymodal1">
                    <p class="title">Sports Meet-App</p>
                    <h3 class="title2">Click the banner for more details<h3>
                      <%= image_tag("sports2.jpeg", class: "img-responsive", style: "background-size: contain;height: 300px; max-width: 350px") %>
                  </div>
                </div>
                <div class="col-md-1">
                </div>
              </div>           
            </div>
            <div class="face bottom" style="background-color: white; opacity: 0.8">
              <h3 style="margin-top: 10px; font-size: 200%" class="font">SocialNet</h3>
              <div class="row">
                <div class="col-md-11 col-xs-12 col-sm-6 text-center nopadding" style="margin-left: 17px; margin-top: 10%">
                  <div data-toggle="modal" data-target="#mymodal2">
                    <p class="title">SocialNet</p>
                    <h3 class="title2">Click the banner for more details<h3>
                      <%= image_tag("social.png", class: "img-responsive", style: "height: 300px; max-width: 350px") %> 
                  </div>
                </div>
                <div class="col-md-1">
                </div>            
              </div>              
            </div>
            <div class="face left" style="background-color: white; opacity: 0.9">
              <h3 style="margin-top: 10px; font-size: 200%" class="font">CarList</h3>
              <div class="row">
                <div class="col-md-11 col-xs-12 col-sm-6 text-center nopadding" style="margin-left: 17px; margin-top: 10%">
                  <div data-toggle="modal" data-target="#mymodal3">
                    <p class="title">CarList</p>
                    <h3 class="title2">Click the banner for more details<h3>
                      <%= image_tag("car.jpeg", class: "img-responsive", style: "height: 300px; max-width: 350px") %> 
                  </div> 
                </div>           
              </div>
            </div>
            <div class="face right" style="background-color: white; opacity: 0.9">
              <h3 style="margin-top: 10px; font-size: 200%" class="font">D.M.Viz</h3>
              <div class="row">        
                <div class="col-md-11 col-xs-12 col-sm-6 text-center nopadding" style="margin-left: 17px; margin-top: 10%">
                  <div data-toggle="modal" data-target="#mymodal4">
                    <p class="title">D.M.Viz</p>
                    <h3 class="title2">Click the banner for more details<h3>
                      <%= image_tag("dmv2.jpeg", class: "img-responsive", style: "height: 300px; max-width: 350px") %> 
                  </div>
                </div>
              </div>
            </div>
            <div class="face rear" style="background-color: white; opacity: 0.8">
            </div>      
          </div>
        </div>
      </div>  
    </div>  
    <div class="row hidden-xs" style="margin-bottom: 60px; margin-top: 60px">
      <div class="col-md-6 col-xs-12 col-sm-12 text-center" style="padding-top:30px">
        <a href="<%= pages_about_path %>"><%= image_tag("arrow_left.png", size: "400x80") %></a>
      </div> 
      <div class="col-md-6 col-xs-12 col-sm-12 text-center" style="padding-top:30px"> 
        <a href="<%= pages_skills_path %>"><%= image_tag("arrow_right.png", size: "400x80") %></a>
      </div>
    </div>  
    <div class="row hidden-md hidden-lg hidden-sm" style="margin-bottom: 60px; margin-top: 50px">
      <div class="col-md-6 col-xs-12 col-sm-12 text-center" style="padding-top:0px">
        <a href="<%= pages_about_path %>"><%= image_tag("arrow_left.png", size: "300x80") %></a>
      </div> 
      <div class="col-md-6 col-xs-12 col-sm-12 text-center" style="padding-top:0px"> 
        <a href="<%= pages_skills_path %>"><%= image_tag("arrow_right.png", size: "300x80") %></a>
      </div>
    </div>                     
  </div>          
</div>

    <link rel="stylesheet" href="cube5.css" type="text/css" media="screen" title="Cube5" charset="utf-8" />
    <style type="text/css" media="screen">            
      
      /* Only used for this demo */
      body {
        padding: 0 50px;
        font-family: "Georgia", Verdana;
      }
      
      #demo-cube {
        margin: auto;
      }
      
      #demo-cuboid {
        margin: auto;
        height: 430px;
      }
      
      #demo-cube .face {
        background-color: rgba(0,0,0,0.05);
        -webkit-backface-visibility: visible;
      }
            
      #demo-cube .face, #demo-cuboid .face {
        vertical-align: middle;
        text-align: center;
        font-family: "Lucida Grande";
        font-size: 13px;
        text-shadow: 0 1px 0 #fff;
      }
      
      #demo-settings .face {        
        background-color: rgba(0,0,0,0.1);
      }
    </style>
    
    <script src="http://ajax.googleapis.com/ajax/libs/mootools/1.2.4/mootools-yui-compressed.js" type="text/javascript" charset="utf-8"></script>    
    <script type="text/javascript" charset="utf-8">      
      window.onload = function(){
        var buttons = document.getElementById('cube-buttons').getElementsByTagName('button');
        for (var i = 0, l = buttons.length; i < l; i++){
          buttons[i].onclick = function(){
            document.getElementById('demo-cube').getElementsByTagName('div')[0].className = 'cube to' + this.innerHTML;
          };
        }
      };      
    </script>


